

body{
    background-color: palegoldenrod;
}


header{
    background-color: cadetblue;
    text-align: center;
    color: wheat;
    border: 2px solid black;
}

section{
    text-align: center;
    border: 2px solid black;
    float: center;
}

nav{
    text-align: center;
    border: 2px solid black;   
}
aside{
    text-align: center;
    border: 2px solid black;
}
footer{
    text-align: right;
    border: 1px solid black;
    color: aliceblue;
    background-color: black;
    
}


